*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    background-color: rgb(178, 148, 99);
}

.masonry{
    position: relative;
    img{
        display: inline;
        padding: 3px 0 3px 3px;
        position: absolute;
        height: auto;
    }
}
