*{
    margin:0;
    padding: 0;
    background-size:cover;
    box-sizing: border-box;
    max-width: 1200px;
}
/* initial styles - adaptive columns */
.masonry{
    background-color: pink;
    position:relative;
}
.masonry__item{
    display: inline-block;
    height: fit-content;
    list-style-type: none;
}
.masonry__image{
    height: auto;
    padding: 3px;
    width: 200px;
}
.columnDiv{
    width: 200px;
    display: inline;
    position:absolute;
    height:fit-content;
}